/* .missions-section {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.missions-cards {
  background-color: burlywood;
  border: 1px solid white;
  border-radius: 29px;
  height: 400px;
  margin: 5px;
  opacity: 1;
  padding: 25px;
  width: 200px;
}

.missions-cards p {
  color: blue;
  font-size: 25px;
} */
