/* * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://wallpaperbat.com/img/590929-retro-space-wallpaper-top-free-retro-space-background.jpg");
    width: 720px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */
